@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container { 
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1500px;
  height: auto;
}

.fondo{
  width: 500px;
  height: auto;
}

.content {
  position: absolute; 
  top: 55%; 
  max-width: 100%;
}

.logo {
  width: 50%;
  max-width: 200px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 6vw;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 4px black;
}

.p{
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  font-weight: bold;
  color: black;
  
}

.button {
  display: flex;
  justify-content: right;
  background-image: url('/Images/google.jpg');
  background-position: left;
  padding: 0.5em 0.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius: 50px;
  color: black;
  font-size: 3vw;
  margin-top: 0.5rem;
  cursor: pointer;
  width: 50%;
  max-height: 10vh;
}

.buttonContent {
  display: flex;
  align-items: self-end;
}

.buttonText {
  font-size: inherit;
  margin-left: 3rem;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    font-size: 4vw;
    margin-top: 0;
    margin-bottom: 1vw;
    text-align: left;
  }
  .p {
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 2vw;
    text-align: left;
  }
  .button {
    font-size: 1.5vw;
    margin-top: 0;
    margin-left: 2vw;
  }
  .buttonText {
    font-size: 2vw;
    margin-left: 3vw;
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: 3vw;
  }
  .button {
    font-size: 1.5vw;
  }
}

