@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.container { 
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 2rem;
  text-align: center;
}

.fondo{
  width: 400px;
  height: auto;
}

.content {
  position: absolute;
  top: 40%; 
  max-width: 100%;
}

.logo {
  width: 80%;
  max-width: 200px;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 4px black;
  margin-bottom: 1rem;
}

.p{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('/Images/Googlecont.jpg');
  background-position: center;
  padding: 1em 2em;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border-radius:20px;
  cursor: pointer;
  width: 70%;
}

@media (max-width: 767px) {
  .content {
    flex-direction: column;
  }

  .title {
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
  }

  .p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .button {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .title {
    font-size: 2.5rem;
  }

  .p {
    font-size: 1.8rem;
  }

  .button {
    font-size: 1.4rem;
  }
}
