
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  font-weight: bold;
  color: black;
  text-shadow: 1px 1px 4px black;
}

.notesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-auto-rows: minmax(10rem, auto);
}

.note{
  font-family: 'Poppins', sans-serif;
  width: 40%;
  padding: 2rem;
  box-shadow: 1px 1.5px 3px gray;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.note:hover{
  background: rgb(68, 203, 221);
  transform: translateY(-3%);
}

.deleteButton{
  border: none;
  background: none;
  cursor: pointer;
  align-self: flex-end; 
}
